/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.cover_Parchment {
	position: fixed;
	width: 100%;
  	overflow: auto;
  	clear: both;
  	color: white;
  	padding: 60px;
  	background: white;
}

.fixed_Your_Name {
  position: fixed;
  left: 10%;
  padding: 40px;
  margin: 0;
  text-align: center;
  color: white;
  font-size:  250%;
  background: #00b3b3;
}

.top_Right_Links {
	position: fixed;
	right: 20%;
	padding: 50px;
	color: black;
	font-size: 100%;
	background: white;
}

.full {
  width: 100%;
  overflow: auto;
  clear: both;
  background: #eee;
}

.about_Me {
	position: absolute;
	top: 160px;
	left: 10%;
	width: 42%;
	padding: 40px;
	color: #00b3b3;
	font-size: 200%;
	background: white;
}

.connect_With_Me {
	float: right;
	position:  relative;
	top: 160px;
	right: 10%;
	width: 20%;
	padding:  40px;
	height:  180px;
	color: #00b3b3;
	font-size: 180%;
	text-align: center;
	background: white;

}

.green_Bar {
	position: fixed;
	z-index: 100;
	bottom:  0;
	left:  0;
	width: 100%;
  	padding: 5px;
  	background: #00b3b3;
}